* {
  margin:0;
  padding:0;
}
img.icon {
  max-width:2em;
}
a {
color:#337700;
      text-decoration: none;
}
.theme {
  font-family:AlienLeagueGradBold;
}
input.limit10characters {
  width:10em;
}
input.limit28characters {
  width:28em;
}
input.limit40characters {
  width:40em;
}
input {
  text-align:center;
}
a:hover {
color:#44AA00;
  }
.option {
  display:inline-block;
}
.option.parameter {
  display:block;
}
.option.label {
  display:block;
}
.option.label:before {
  content:'(';
}
.option.label:after {
  content:')';
}
.large-font {
  font-size:150%;
}

@font-face {
  font-family: "AlienLeague";
src: url("/fonts/alienleagueiiexpand.ttf");
}
@font-face {
  font-family: "AlienLeagueD";
src: url("/fonts/alienleague3d.ttf");
}
@font-face {
  font-family: "AlienLeagueGrad";
src: url("/fonts/alienleaguegrad.ttf");
}
@font-face {
  font-family: "AlienLeagueGradBold";
src: url("/fonts/alienleaguegradbold.ttf");
}
.icon {
  width:2em;
  padding:1em;
}
span.header {
  height:5em;
  display:block;
  position:fixed;
}
span.alert {
  padding-top:0.5em;
  background-color:#ffffda;
  font-weight:bolder;
}
span.bar {
  width:100%;
}

span.header.alert.bar>ul>li {
  list-style-type:none;
}

.reduced-form,.reduced-form>iframe {
  display:block;
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  border:0;
}
.character {
  display:inline-block;
}
.interactive {
  cursor:pointer;
}
button.invisible {
  border:none;
  background:transparent;
  height:0;
  width:0;
}
